$color-bg: #f9f9f9;
$color-bg2: #dddddd;
$color-bg3: #7a7c7c;
$color-bg4: #585858;
$color-bg5: #2e343e;
$color-logo-black: rgb(41, 41, 41);
$color-logo-orange: #ffb14b;

$color-github: #444444;

$color-bg-pink: #f4dcf7;
$color-bg-purple: #e0daec;

$color-bg-blue: #deedf0;
