.watch__main {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}

.contentsContainer {
  height: 100%;
  max-width: 800px;
  margin-top: 50px;
  box-shadow: 0 0 15px 25px $color-bg2;
}

.video__data {
  padding: 20px 25px;

  .data__wrapper {
    margin-right: 40px;
  }
  .video__title {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .video__description {
    margin-bottom: 15px;
  }
  .hashtag__wrapper {
    margin-bottom: 10px;
  }
  .hashtag {
    height: 15px;
    margin-right: 10px;
    background-color: rgb(207, 217, 238);
    border-radius: 5px;
  }
  .video__owner {
    margin-bottom: 6px;
    margin-right: 10px;
    // letter-spacing: 1px;
    a {
      color: steelblue;
      text-decoration: underline;
    }
  }
  .video__creationTime {
    margin-right: 5px;
    font-size: 1rem;
  }
  .video__views {
    margin-right: 10px;
  }
}

.video__comments {
  max-width: 400px;
  margin-top: 50px;
  margin-left: 35px;
  box-shadow: 0 0 15px 25px $color-bg2;
  border-radius: 5px;
  .video__comment-form {
    all: unset;
    margin: 40px;
    margin-bottom: 10px;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    color: $color-logo-black;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px rgb(252, 226, 179);
    textarea {
      all: unset;
      padding: 15px 15px;
      width: 80%;
      &::placeholder {
        color: $color-bg3;
      }
    }
    #sendBtn {
      font-size: 1.5rem;
      color: $color-logo-orange;
      transition: 0.5s ease-in-out;
      &:hover {
        color: tomato;
        transform: scale(1.5);
      }
    }
    button {
      all: unset;
      width: 20%;
      color: $color-bg3;
      text-align: center;
    }
  }
  ul {
    width: 100%;
    max-width: 1200px;
    padding: 15px;
  }
  .video__comment {
    width: 300px;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: $color-bg5;
    margin-bottom: 10px;
    span {
      margin-right: 5px;
    }
  }
}
