include ../mixins/flashMessage

doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{pageTitle} | #{serviceName}
    link(rel="shortcut icon" href="#")
    link(rel="stylesheet", href="/static/css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
  body
    if messages.error
      +flashMessage("error", messages.error)
    if messages.info
      +flashMessage("info", messages.info)
    include ../partials/header
    main
      block content
    div.footer-container        
      include ../partials/footer
    script(src="/static/js/main.js")
    block script
