@keyframes flashSplash {
  0% {
    transform: none;
  }
  20% {
    transform: translateY(60px);
  }
  99% {
    transform: translateY(60px);
  }
  100% {
    opacity: 0;
  }
}

.flashMessage {
  width: 50%;
  height: 20px;
  border-radius: 10px;
  background-color: tomato;
  position: absolute;
  top: 0;
  left: 25%;

  text-align: center;
  color: white;
  word-spacing: 7px;
  letter-spacing: 10px;

  animation: flashSplash 6s ease-in-out forwards;
  &.info {
    background-color: $color-logo-orange;
  }
}
