extends ../template/layout
include ../mixins/renderVideo

block content 
    form(method="GET").search__form
        input(placeholder="검색어를 입력하세요" name="keyword" type="text")
        button 
            i.fas.fa-search
    div.video-grid 
        each video in videos 
            +renderVideo(video)