extends ../template/layout

block content
    if errMessage 
        span=errMessage 
    form(method="POST")
        input(name="userId" placeholder="아이디" type="text" required)
        input(name="password" placeholder="패스워드" type="password" required)
        input(type="submit" value="로그인")
    br
    div
        a(href="/users/github/start") 깃헙으로 가입/로그인하기 &rarr;
    hr
    div 
        article 
            a(href="/join") 아직 가입하지 않으셨나요? &rarr;