extends ../template/layout

block content 
    if errMessage 
        span=errMessage
    form(method="POST")
        input(name="password0" type="password" placeholder="현재 비밀번호" required autofocus)
        input(name="password1" type="password" placeholder="변경 비밀번호" required)
        input(name="password2" type="password" placeholder="비밀번호 확인" required) 
        //-비밀번호 보이기 기능
        input(type="submit" value="비밀번호 변경")