extends ../template/layout
include ../mixins/renderVideo

block content 
    div.profile__data
        img(src= "/" + user.avatarUrl).avatar
        h3=`${user.name}의 비디오`
    div.video-grid
        each video in user.videos 
            +renderVideo(video)
        else 
            span.empty__message 업로드한 비디오가 없습니다
